body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
  
	background-color: #849d8f;
	background-position: top center;
	background-repeat: no-repeat;
}

.main-navigation,
.catalog-navigation,
.user-navigation,
.registration {
	list-style: none;
}

.main-navigation a,
.catalog-navigation a,
.user-navigation a,
.registration a,
.search a {
	color: #ffffff;
}

.visually-hidden {
	display: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 18px;
}

.user-navigation {
	font-size: 14px;
	line-height: 16px;
}

.time {
	font-size: 14px;
	line-height: 16px;
}

.phone {
	font-size: 22px;
	line-height: 24px;
}

.breadcrumbs-menu {
	font-size: 14px;
	line-height: 16px;
	list-style: none;
}

.breadcrumbs-menu a {
	color: #ffffff;
}

h1 {
	font-size: 35px;
	line-height: 41px;
}

.sort {
	border: none;
}

.sort-select {
	background-color: #a9bab0;
	border: none;
	border-radius: 15px;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
}

.price {
	border: none;
}

.price-select {
	background-color: #a9bab0;
	border: none;
	border-radius: 15px;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	width: 200px;
}

.fat-fieldset {
	border: none;
}

.fat-fieldset-select {
	background-color: #a9bab0;
	border: none;
	border-radius: 15px;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	list-style: none;
	width: 200px;
}

.filler-fieldset {
	border: none;
}

.filler-fieldset-select {
	background-color: #a9bab0;
	border: none;
	border-radius: 15px;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	list-style: none;
	width: 200px;
}

.button {
	background-color: #a6b7ad;
	color: #ffffff;
	border: solid white 2px;
	border-radius: 15px;
	font-size: 16px;
	line-height: 18px;
}

.catalog {
	list-style: none;
}

.catalog img {
	border-radius: 50%;
}

.price {
	font-size: 45px;
	line-height: 45px;
}

.item-description {
	font-size: 16px;
	line-height: 22px;
	text-decoration: underline;
}

.pagination {
	list-style: none;
}

.pagination a {
	color: #ffffff;
}

.main-footer a {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	text-decoration: underline;
	font-weight: regular;
}

.footer-social,
.footer-info {
	list-style: none;
}









