body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
  
	background-color: #849d8f;
	background-position: top center;
	background-repeat: no-repeat;
}

.main-navigation,
.catalog-navigation,
.user-navigation,
.registration {
	list-style: none;
}

.main-navigation a,
.catalog-navigation a,
.user-navigation a,
.registration a,
.search a {
	color: #ffffff;
}

.visually-hidden {
	display: none;
}

.main-navigation {
	font-size: 16px;
	line-height: 18px;
}

.user-navigation {
	font-size: 14px;
	line-height: 16px;
}

.time {
	font-size: 14px;
	line-height: 16px;
}

.phone {
	font-size: 22px;
	line-height: 24px;
}

.banner {
	font-size: 60px;
	line-height: 60px;
}

.button {
	background-color: #e94e37;
	color: #ffffff;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 24px;
}

.banner-button {
	font-size: 60px;
	line-height: 60,35px;
	border-radius: 70px;
	padding: 20px 50px;
}

.stock h3 {
	font-size: 35px;
	line-height: 41px;
	padding-top: 23px;
	padding-left: 20px;
}

.stock p {
	font-size: 18px;
	line-height: 22px;
}

.stock-1 {
	border-radius: 15px;
	width: 560px;
	height: 229px;
	background-image: url("../img/bg-raspberry.jpg");
	background-repeat: no-repeat;
}

.stock-2 {
	border-radius: 15px;
	width: 560px;
	height: 229px;
	background-image: url("../img/bg-chocolate.jpg");
	background-repeat: no-repeat;
}

.catalog {
	list-style: none;
}

.catalog img {
	border-radius: 50%;
}

.price {
	font-size: 45px;
	line-height: 45px;
}

.item-description {
	font-size: 16px;
	line-height: 22px;
	text-decoration: underline;
}

.features {
	width: 1146px;
	height: 307px;
	border-radius: 20px;
	background-image: url("../img/bg-wafer.jpg");
	color: #323232;
}

.features-list {
	list-style: none;
	font-size: 16px;
	line-height: 22px;
}

.features p {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.blog {
	width: 560px;
	height: 219px;
	background-image: url("../img/bg-strawberry.jpg");
	border-radius: 20px;
}

.blog p {
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: regular;
}

.blog a {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.mail {
	width: 560px;
	height: 219px;
	background-image: url("../img/bg-mail.jpg");
	border-radius: 20px;
}

.mail p {
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
}

.map {
	width: 100%;
	height: 430px;
	background-image: url("../img/bg-map.jpg");
	background-repeat: no-repeat;
}

.address {
	width: 304px;
	height: 304px;
	background-color: #ffffff;
	color: #323232;
	border-radius: 20px;
	font-weight: regular;
}

.address-bold {
	font-weight: bold;
}

.main-footer a {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	text-decoration: underline;
	font-weight: regular;
}

.footer-social,
.footer-info {
	list-style: none;
}

.mail-form {
	width: 439px;
	height: 477px;
	color: #323232;
	background-color: #f8f7f4;
	border-radius: 20px;
}











