body {
	text-align: center;
	margin: 0 auto;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
  
	background-color: #849d8f;
	background-position: top center;
	background-repeat: no-repeat;
}

.catalog-navigation,
.user-navigation,
.registration
.search a {
	list-style: none;
}

.catalog-navigation a,
.user-navigation a,
.registration a,
.search a,
.site-navigation a,
.main-navigation a {
	color: #ffffff;
}

.visually-hidden {
	display: none;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	outline: 2px solid red;
}

.main-navigation {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	list-style: none;
	
	display: flex;
	align-items: center;
	
	outline: 2px solid green;
}

.main-navigation li {
	margin-right: 24px;
}

.main-header-logo{
	margin-left: 27px;
}

.user-navigation {
	font-size: 14px;
	line-height: 16px;
	font-weight: regular;
	
	margin-right: 27px;
	display: flex;
	
	outline: 2px solid green;
}

.user-navigation a {
	margin-right: 10px;
}

.site-user-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	outline: 2px solid blue;
	width: 1200px;
}

.contacts {
	outline: 2px solid green;
	margin-right: 27px;
}

.contacts-container {
	display: flex;
	justify-content: flex-end;
	
	width: 1200px;
	outline: 2px solid blue;
}

.switch-button {
	display: flex;
	
	width: 1200px;
	height: 65px;
	margin-bottom: 41px;
	
	outline: 2px solid blue;
}

.time {
	font-size: 14px;
	line-height: 16px;
}

.phone {
	font-size: 22px;
	line-height: 24px;
}

.banner {
	font-size: 60px;
	line-height: 60px;
	margin-top: 195px;
}

.button {
	background-color: #e94e37;
	color: #ffffff;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 24px;
	border: none;
	text-decoration: none;
}

.banner-button {
	font-size: 32px;
	line-height: 44px;
	border-radius: 70px;
	
	margin-bottom: 40px;
}

.sale {
	font-size: 35px;
	line-height: 41px;
	padding-top: 23px;
	padding-left: 20px;
}

.stock-container p {
	font-size: 18px;
	line-height: 22px;
}

.stock-container {
	width: 1200px;
	height: 229px;
	margin-bottom: 40px;
	
	display: flex;
	justify-content: space-between;
	
	outline: 2px solid blue;
}

.stock {
	border-radius: 15px;
	background-repeat: no-repeat;
	width: 560px;
	height: 225px;
}

.stock-raspberry {
	background-image: url("../img/bg-raspberry.jpg");
	background-color: #790007;
	
	margin-left: 27px;
}

.stock-chocolate {
	background-image: url("../img/bg-chocolate.jpg");
	background-color: #795038;
	
	margin-right: 27px;
}

.breadcrumbs-menu {
	display: flex;
	align-items: center;
	
	width: 1200px;
	height: 50px;
	margin-bottom: 20px;
	
	outline: 2px solid blue;
}

.breadcrumbs-menu li {
	margin-right: 20px;
}

.catalog-caption-container {
	display: flex;
	align-items: center;
	
	width: 1200px;
	height: 50px;
	margin-bottom: 20px;
	
	outline: 2px solid blue;
}

.sort-form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
	width: 1200px;
	
	outline: 2px solid blue;
}

.fat-fieldset-select {
	display: flex;
	justify-content: space-between;
	
	min-width: 420px;
}

.sort-price-fat fieldset {
	margin-right: 20px;
}

.filler-fieldset-select {
	display: flex;
	justify-content: space-between;
	
	min-width: 705px;
}

.catalog {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-between;
	
	width: 1200px;
	margin-bottom: 40px;
	
	outline: 2px solid blue;
	list-style: none;
}

.catalog li {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	
	width: 266px;
	height: 330px;
	
	outline: 2px solid green;
}

.catalog img {
	border-radius: 50%;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	
	width: 1200px;
	
	outline: 2px solid blue;
}

.pagination li {
	margin-right: 20px;
}

.features {
	margin-bottom: 40px;
}

.blog-mail {
	display: flex;
	justify-content: space-around;
	
	width: 1200px;
	margin-bottom: 40px;
	
	outline: 2px solid blue;
}

.price {
	font-size: 45px;
	line-height: 45px;
	border: none;
	margin-top: -50px;
	align-self: flex-start; 
}

.item-description {
	font-size: 16px;
	line-height: 22px;
	font-weight: regular;
	text-decoration: underline;
	margin-top: -20px;
}

.features {
	width: 1146px;
	border-radius: 20px;
	background-image: url("../img/bg-wafer.jpg");
	background-color: #e6d5b1;
	color: #323232;
}

.features-list {
	list-style: none;
	font-size: 16px;
	line-height: 22px;
	font-weight: regular;
}

.features p {
	font-size: 24px;
	line-height: 30px;
}

.blog {
	width: 560px;
	height: 219px;
	background-image: url("../img/bg-strawberry.jpg");
	background-color: #ffffff;
	border-radius: 20px;
}

.blog p {
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: regular;
}

.blog a {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
}

.mail {
	width: 560px;
	height: 219px;
	background-image: url("../img/bg-mail.jpg");
	bacground-color: #f8f7f4;
	border-radius: 20px;
}

.mail p {
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
	font-weight: regular;
}

.map {
	width: 1200px;
	height: 430px;
	
	background-image: url("../img/bg-map.jpg");
	background-color: #f7f1d9;
	background-repeat: no-repeat;
}

.address {
	width: 304px;
	height: 304px;
	background-color: #ffffff;
	color: #323232;
	border-radius: 20px;
	font-weight: regular;
}

.main-footer {
	display: flex;
	justify-content: center;
	
	outline: 2px solid blue;
}

.main-footer a {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: regular;
	text-decoration: underline;
}

.footer-social {
	list-style: none;
	column-count: 4;
}

.footer-info {
	list-style: none;
	column-count: 2;
}

.mail-form {
	width: 439px;
	height: 477px;
	color: #323232;
	background-color: #f8f7f4;
	border-radius: 20px;
}

.breadcrumbs-menu {
	font-size: 14px;
	line-height: 16px;
	font-weight: regular;
	list-style: none;
	
	margin-right: 20px;
}

.breadcrumbs-menu a {
	color: #ffffff;
}

.catalog-caption {
	font-size: 35px;
	line-height: 41px;
	
	margin-bottom: 15px;
}

.sort {
	border: none;
}

.sort-select {
	background-color: #a9bab0;
	border: none;
	border-radius: 15px;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: regular;
}

.price-select {
	background-color: #a9bab0;
	border: none;
	border-radius: 15px;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: regular;
	width: 200px;
}

.fat-fieldset {
	border: none;
}

.fat-fieldset-select {
	background-color: #a9bab0;
	border: none;
	border-radius: 15px;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: regular;
	list-style: none;
	width: 200px;
}

.filler-fieldset {
	border: none;
}

.filler-fieldset-select {
	background-color: #a9bab0;
	border: none;
	border-radius: 15px;
	padding: 5px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: regular;
	list-style: none;
	width: 200px;
}

.pagination {
	list-style: none;
}

.pagination a {
	color: #ffffff;
}

.price-range {
	border: none;
}
.registration a:hover,
.registration a:focus,
.main-navigation a:hover,
.user-navigation a:hover,
.main-navigation a:focus,
.user-navigation a:focus,
.search a:hover,
.search a:focus {
	background-color: #d07058;
}

.button:focus,
.button:hover {
	background-color: #972a19;
}

.button:active {
	background-color: #602017;
}






