body {
	text-align: center;

	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
  
	background-color: #849d8f;
	background-repeat: no-repeat;
}

.catalog-navigation,
.user-navigation,
.registration
.search a,
.pagination {
	list-style: none;
}

.catalog-navigation a,
.user-navigation a,
.registration a,
.search a,
.site-navigation a,
.main-navigation a {
	color: #ffffff;
}

.visually-hidden {
	display: none;
}

.container {
	position: relative;
	
	width: 1200px;
	margin: 0 auto;
	
	outline: 2px solid red;
}

.button {
	display: block;
	
	box-sizing: border-box;
	
	padding: 12px 24px;

	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 50px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;

	cursor: pointer;
}

.site-user-navigation {
	display: flex;
	align-items: center;
}

.main-navigation {
	font-size: 16px;
	line-height: 18px;
	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
	margin: 0;
	margin-right: auto;
	padding: 0;
	list-style: none;
}

.main-navigation a {
	display: block;
	padding: 10px 15px;
	
	text-decoration: none;
}

.main-header-logo{
	margin-left: 27px;
}

.modal {
	color: #323232;
	
	background-color: #f8f7f4;
	background-position: 0 0;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	
	border-radius: 5px;
}

.enter-field {
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

/* Выпадашка основного меню */
.catalog-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	
	padding-top: 12px;
}

.main-menu {
	display: inline;
	
	position: absolute;
	top: 60px;
	left: 184px;
	
	width: 143px;
	height: 171px;
	
	
	text-align: left;
	
	z-index: 1;
}

.main-menu a {
	display: block;
	color: #323232;
	text-decoration: none;
	
	margin-left: 21px;
	padding-top: 6px;
}

.catalog-navigation li:first-child {
	font-weight: 700;
}

.main-menu li {
	height: 28px;
}

.main-menu li:hover {
	background-color: #fbded8;
	cursor: pointer;
}
/* Выпадашка основного меню */

/* Выпадашка поиска */
.search {
	position: absolute;
	top: 59px;
	right: 239px;
	
	display: inline;
	
	
	height: 84px;
	width: 342px;
	
	z-index: 1;
}

.search input {
	width: 311px;
	height: 44px;
	
	margin-top: 19px;
}
/* Выпадашка поиска */

/* Выпадашка входа */
.login {
	position: absolute;
	top: 59px;
	right: 137px;
	
	display: inline;
	
	width: 277px;
	height: 214px;
	
	z-index: 1;
}

.login-input {
	width: 240px;
	height: 42px;
	
	margin-top: 19px;
	margin-left: auto;
	margin-right: auto;
}

.login .button {
	display: block;
	margin-top: 20px;
	margin-left: 18px;
}

.registration {
	display: block;
	text-align: left;
	
	list-style: none;
	margin: 0;
	padding: 0;
	
	margin-left: 136px;
	margin-top: -48px;
}

.registration a {
	color: #323232;
	font-size: 13px;
	line-height: 24px;
}
/* Выпадашка входа */

/* Выпадашка форма обратной связи */
.feedback {
	position: fixed;
	
	display: inline;
	
	top: 120px;
	left: 50%;
	margin-left: -239px;
	
	width: 477px;
	height: 442px;
	
	text-align: left;
}

.feedback p {
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	
	margin-left: 25px;
	margin-top: 19px;
	margin-bottom: 22px;
}

.feedback-input {
	width: 265px;
	height: 44px;
	
	margin-left: 25px;
	margin-bottom: 20px;
}

.feedback-question {
	width: 426px;
	height: 154px;
	
	margin-left: 25px;
	margin-bottom: 25px;
}

.feedback-button {
	display: block;
	
	width: 138px;
	height: 44px;
	
	margin-right: 25px;
	margin-left: auto;
}
/* Выпадашка форма обратно свзяи */

/* Выпадашка корзины */
.basket {
	display: inline;
	box-sizing: border-box;
	
	position: absolute;
	top: 59px;
	right: 25px;
	
	width: 540px;
	height: 242px;
	
	padding-top: 25px;
	
	z-index: 1;
}

.basket-list {
	display: flex;
	align-items: baseline;
	
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 89px;
	
	width: 540px;
	
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
}

.basket-list-1 {
	margin-bottom: 35px;
}

.basket-list-2 {
	margin-bottom: 18px;
}

.basket-list li {
	color: #323232;
}

.basket-description {
	margin-right: 32px;
	text-align: left;
	
	width: 220px;
}

.basket-price-list p{
	color: #999999;
	
	margin: 0;
	padding: 0;
	margin-right: 29px;
}

.delete-item-1::before,
.delete-item-1::after {
	content: "";

	position: absolute;
	top: 32px;
	left: 15px;

	width: 16px;
	height: 2px;

	background-color: #323232;
}

.delete-item-1::before {
  transform: rotate(45deg);
}

.delete-item-1::after {
  transform: rotate(-45deg);
}

.delete-item-2::before,
.delete-item-2::after {
	content: "";

	position: absolute;
	top: 83px;
	left: 15px;

	width: 16px;
	height: 2px;

	background-color: #323232;
}

.delete-item-2::before {
  transform: rotate(45deg);
}

.delete-item-2::after {
  transform: rotate(-45deg);
}

.ice-cream-small-yellow::before {
	content: "";
	
	position: absolute;
	top: 18px;
	left: 45px;

	width: 33px;
	height: 33px;

	background-image: url("../img/ice-cream-small-yellow.png");
	border-radius: 50%;
}

.ice-cream-small-rose::before {
	content: "";
	
	position: absolute;
	top: 69px;
	left: 45px;

	width: 33px;
	height: 33px;

	background-image: url("../img/ice-cream-small-rose.png");
	border-radius: 50%;
}

.basket-line {
    border: none;
    background-color: #cacac7;
	
    height: 2px;
	width: 510px;
	
	margin-bottom: 16px;
}

.container-basket-amount {
	display: flex;
	justify-content: flex-end;
}

.basket-amount {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	
	margin: 0;
	padding: 0;
	margin-right: 15px;
	margin-bottom: 13px;
}

.basket-button {
	float: right;
	margin-right: 15px;
}
/* Выпадашка корзины */

.modal-close {
	position: absolute;
	top: 10px;
	right: 14px;
	
	width: 22px;
	height: 22px;

	font-size: 0;

	background-color: transparent;
	border: 0;

	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 10px;
	left: 2px;

	width: 2px;
	height: 23px;

	background-color: #323232;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.user-navigation {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	
	display: flex;
	flex-wrap: wrap;
	
	margin: 0;
	margin-left: auto;
	padding: 0;
	list-style: none;
}

.user-navigation a {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 23px 10px 15px 10px;
	
	height: 33px;
	
	vertical-align: middle;
	text-decoration: none;
	border-radius: 20px;
	background-color: #a0b5a9;
}

.user-link {
	margin-right: 8px;
}


.search-link {
	width: 33px;
}

.login-link {
	width: 93px;
}

.basket-link {
	width: 100px;
}

.contacts {
	text-align: right;
}

.switch-button {
	display: flex;
	
	height: 65px;
	margin-bottom: 41px;
	
	outline: 2px solid blue;
}

.time {
	font-size: 14px;
	line-height: 16px;
}

.phone {
	font-size: 22px;
	line-height: 24px;
	margin-top: -10px;
}

.site-wrapper {
	min-width: 940px;
	background-color: #849d8f;
	background-image: url("../img/banner-1.png");
	background-repeat: no-repeat;
	background-position: top center;
	
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.slider {
  position: relative;
  
  padding-top: 321px;
  margin-bottom: 0;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.banner-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.banner-button:hover,
.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.banner-button:active,
.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
	background-color: #b2c1b7;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/banner-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/banner-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/banner-3.png");
}

.sale {
	font-size: 35px;
	line-height: 41px;
	padding-top: 23px;
	padding-left: 20px;
}

.stock {
	display: flex;
	justify-content: space-around;
	
	padding: 0;
	margin-bottom: 0;
	
	list-style: none;
}

.stock li {
	border-radius: 15px;
	background-repeat: no-repeat;
	width: 560px;
	height: 225px;
}

.stock li h3{
	text-align: left;
	margin-top: -5px;
}

.stock li p {
	font-size: 18px;
	line-height: 22px;
	text-align: left;
	margin: -20px 20px 47px 20px;
}

.stock li a {
	float: right;
	margin-right: 20px;
}

.stock-raspberry {
	background-image: url("../img/bg-raspberry.jpg");
	background-color: #790007;
}

.stock-chocolate {
	background-image: url("../img/bg-chocolate.jpg");
	background-color: #795038;
}

.container-caption {
	text-align: left;
}

.catalog-caption {
	font-size: 35px;
	line-height: 41px;
	
	margin-bottom: 15px;
	margin-left: 27px;
}

/* Фильтр */
.sort-form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.sort-fat-price-filler {
	border: none;
	text-align: left;
}

.fat-fieldset-select {
	display: flex;
	justify-content: space-between;
	
	min-width: 420px;
}

.filler-fieldset-select {
	display: flex;
	justify-content: space-between;
	
	min-width: 705px;
}

.sort-fat-price-filler legend {
	margin-left: 16px;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.sort-form-select {
	box-sizing: border-box;
	
	height: 36px;
	
	background-color: #a9bab0;
	
	border: none;
	border-radius: 50px;
	
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}

.sort-select {
	width: 194px;
	
	padding-left: 16px;
}

.price-select {
	width: 219px;
}

.fat-fieldset-select {
	width: 415px;
	
	margin: 0;
	padding: 0;
	padding: 10px 14px;
	list-style: none;
}

.filler-fieldset-select {
	width: 703px;
	
	margin: 0;
	padding: 0;
	padding-left: 16px;
	padding-top: 10px;
	list-style: none;
}

.button-filter {
	display: inline-block;

	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
	
	margin: 0;
	padding: 0;
	padding: 9px 27px 7px 27px;

	background: #a6b7ad;
	border-radius: 50px;
	border: 2px solid #ffffff;

	cursor: pointer;
}
/* Фильтр */

/* Каталог */
.catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}

.catalog li {
	width: 292px;
	height: 330px;
	margin-bottom: 20px;
}

.catalog li:hover {
	background-color: #9bafa3;
	border-radius: 10px;

	height: 440px;
}

.catalog img {
	border-radius: 50%;
}

.price {
	font-size: 45px;
	line-height: 45px;
	
	margin-top: -70px;
	margin-bottom: 33px;
	
	text-align: left;
}

.item-description {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	
	margin-top: 33px;
	
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #9db1a5;
}
/* Каталог */

/* Преимущества */
.features {
	display: flex;
	align-items: center;
	
	width: 1146px;
	height: 306px;
	
	border-radius: 20px;
	background-image: url("../img/bg-wafer.jpg");
	background-color: #e6d5b1;
	color: #323232;
	
	margin-bottom: 0;
}

.features-wrapper {
	width: 1093px;
	height: 306px;
}

.features-list {
	list-style: none;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	column-width: 400px;
	
	margin: 0;
	padding: 0;
}

.features-list li {
	position: relative;
	
	text-align: left;
	
	padding-bottom: 27px;
	padding-left: 58px;
}

.features-list li:before {
	content: "";
	
	position: absolute;
	top: 0;
	left: 0;
	
	width: 49px;
	height: 49px;
	
	background-repeat: no-repeat;
	background-position: 0 0;
}

.production::before {
	background-image: url("../img/ice-cream.svg");
}

.quality::before {
	background-image: url("../img/eco.svg");
}

.purchase::before {
	background-image: url("../img/cow.svg");
}

.delivery::before {
	background-image: url("../img/icon-thermometer.svg");
}

.features-description {
	font-size: 24px;
	line-height: 30px;
	
	text-align: left;
}
/* Преимущества */

/* Блог и подписка */
.blog-mail {
	display: flex;
	justify-content: center;
}

.blog {
	width: 560px;
	height: 220px;
	
	background-image: url("../img/bg-strawberry.jpg");
	background-color: #ffffff;
	border-radius: 20px;
	
	margin-right: 26px;
}

.blog p {
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	text-align: left;
	
	margin: 0;
	margin-top: 24px;
	margin-left: 20px;
	padding: 0;
}

.blog a {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	float: left;
	width: 300px;
	
	margin: 0;
	margin-top: 8px;
	margin-left: 20px;
	padding: 0;
	
	text-decoration: underline;
	text-decoration-style: solid;	
	text-decoration-color: #353535;
}

.blog-text {
	text-align: left;
}

.mail {
	width: 560px;
	height: 220px;
	background-image: url("../img/bg-mail.jpg");
	background-color: #f8f7f4;
	border-radius: 20px;
}

.mail p {
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	text-align: left;
	
	margin-top: 35px;
	margin-left: 28px;
	margin-right: 26px;
	margin-bottom: 35px;
	padding: 0;
}

.mail-button {
	float: right;
	margin-right: 26px;
}

.mail-field {
	width: 368px;
	height: 44px;
	
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}

::placeholder {
	color: #b4b4b4;
	font-size: 16px;
	line-height: 24px;
	text-indent: 14px;
}
/* Блог и подписка */

/* Карта */
.map {
	height: 430px;
	
	background-image: url("../img/bg-map.jpg");
	background-color: #f7f1d9;
	background-repeat: no-repeat;
	background-position: center;
	
	margin: 0 auto;
}

.address-container {
	display: flex;
	justify-content: flex-end;
	
	padding-top: 62px;
	padding-bottom: 62px;
}

.address {
	box-sizing: border-box;
	
	padding: 30px 25px;
	margin-right: 27px;
	
	width: 304px;
	height: 304px;
	
	background-color: #ffffff;
	border-radius: 20px;
	
	font-weight: 400;
	color: #323232;
	
	text-align: left;
}

.address p {
	margin: 0;
	padding: 0;
}

.address-town {
	margin-bottom: 19px;
}

.address-time {
	margin-bottom: 22px;
}

.address-bold {
	font-weight: 600;
}
/* Карта */

/* Футер */
.main-footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	margin: 18px 27px 23px 27px;
}

.main-footer {
	display: flex;
	justify-content: space-between;
}

.main-footer a {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	text-decoration: underline;
}

.footer-social {
	display: flex;
	list-style: none;
	
	margin: 0;
	padding: 0;
}

.social-button {
	display: flex;
	margin-right: 11px;
	text-decoration: none;
	
	fill: #e6ebe9;
}

.social-button:hover svg {
	fill: #ffffff;
}

.social-button:active svg {
	fill: #e9e9e9;
}

.social-button-color {
	
}

.footer-info {
	list-style: none;
	column-count: 2;
	
	text-align: left;
	
	margin: 0;
	padding: 0;
}

.footer-info a {
	position: relative;
	
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	
	text-decoration: none;
	border-bottom: 1px solid #9db1a5;
	
	margin: 0;
	padding: 0;
	
	margin-top: 3px;
}

.provider::before {
	content: "";
	
	position: absolute;
	top: 2px;
	left: -20px;
  
	width: 15px;
	height: 13px;
  
	background-image: url("../img/heart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.html-academy {
	list-style: none;
	text-decoration: none;
	
	text-align: left;
	
	margin: 0;
	padding: 0;
}

.html-academy a {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}
/* Футер */

.mail-form {
	width: 439px;
	height: 477px;
	color: #323232;
	background-color: #f8f7f4;
	border-radius: 20px;
}

.breadcrumbs {
	display: flex;
	
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	
	margin: 0;
	padding: 0;
	margin-left: 27px;
	list-style: none;
}

.breadcrumbs a {
	color: #ffffff;
	
	text-decoration: none;
	border-bottom: 1px solid #9db1a5;
}

.breadcrumbs li {
	margin-right: 8px;
}

/* Пагинатор */
.pagination {
	display: flex;
	justify-content: flex-end;
	
	outline: 2px solid blue;
}

.pagination a {
	display: block;
	
	width: 26px;
	height: 26px;
	
	margin-right: 20px;
	
	text-decoration: none;
	color: #ffffff;
	
	border-radius: 50%;
	
	padding: auto;
}

.pagination-number:hover {
	background-color: #9db1a5;
	border-radius: 50%;
}

.pagination-number:active {
	background-color: #ffffff;
	border-radius: 50%;
	color: #323232;
}

.pagination-number:focus {
	background-color: #ffffff;
	border-radius: 50%;
	color: #323232;
}
/* Пагинатор */

.main-navigation-point:hover,
.user-navigation a:hover {
	background-color: #f7f6f3;
	color: #323232;
	border-radius: 50px;
}

.user-navigation a:hover .fill-black {
	fill: black;
}

.main-navigation-point:active {
	background-color: #ededed;
	box-shadow: inset 0 2px 2px #696969;
}

.main-navigation-point:focus {
	background-color: #d07058;
	color: #ffffff;
	border-radius: 50px;
}

.button:focus,
.button:hover {
	background-color: #972a19;
}

.button:active {
	background-color: #602017;
}

.green-link:hover {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}

.white-link:hover {
	color: #e84d37;
	text-decoration: underline;
	text-decoration-style: solid;	
	text-decoration-color: #f9cdc4;
}






